{
  "src/**/*.{html,js,jsx,ts,tsx,json}": [
    "eslint --fix --max-warnings=0",
    "prettier --cache --write"
  ],
  "src/**/*.{css,less}": [
    "stylelint --fix --max-warnings=0",
    "prettier --cache --write"
  ]
}
